extends ../layouts/layout.pug
block variables
  - var wrapperClass = 'wrapper_event'
block wrapper__header
    - buttonCreate = false;
    include ../includes/header.pug
block wrapper__content
    main.event-page
        .event-page__content
            .event-page__title
                block event-page__title
                a(href="/")
                    +button('circle', 'close')
            .event-page__row
                .event-page__ceil
                    block event-page__theme
                .event-page__ceil.event-page__date
                    .event-page__day
                        block event-page__day
                    .event-page__timeInterval
                        .event-page__time
                            block event-page__timeStart
                        .dash —
                        .event-page__time
                            block event-page__timeEnd
            .event-page__row
                .event-page__ceil
                    block event-page__users
                    .event-page__members
                        block event-page__members
                .event-page__ceil
                    block event-page__meeting
