include ../mixins/blocks
block variables
doctype html
html
    include ../includes/head.pug
    body.body
        div(class= wrapperClass)
            block wrapper__header
            block wrapper__content
            block wrapper__footer
            block wrapper__popup
        script(src='assets/js/vendor.min.js')
        script(src='assets/js/scripts.min.js')
