extends ../layouts/layout.pug
block variables
  - var wrapperClass = 'wrapper'
block wrapper__header
    - buttonCreate = true;
    include ../includes/header.pug
block wrapper__content
    include ../includes/main.pug
