.body
    height 100%
    font-family baseFont
    font-size fontSize
    color baseColor
    background lightColor
    font-weight 400
    letter-spacing 0
    line-height 17px

.h1
    margin 8px 0px
    font-weight 700
    font-size 20px
    line-height 24px
.h2
    margin 2px 0px
    font-weight 700
    font-size 15px
    line-height 24px
    +responsive(xs)
        font-size 20px
        margin 8px 0px
span
    vertical-align middle
    font-weight 400
    +responsive(xs)
        font-size 15px
a
    text-decoration none
.grey
    color #858E98
.red
    color red
