.button
    height 36px
    padding 10px 16px
    margin 0 8px
    background #007DFF
    border-radius 4px
    cursor pointer
    border none
    outline 0
    font-weight 600
    color lightColor
    line-height 16px
