.button
    height 36px
    padding 10px 16px
    margin 0 8px
    background #007DFF
    border-radius 4px
    cursor pointer
    border none
    outline 0
    font-weight 600
    color lightColor
    line-height 16px
.button-circle
    width 24px
    height 24px
    position relative
    border-radius 100px
    background #E9ECEF
    cursor pointer
.button-icon
    width 20px
    height 20px
    cursor pointer
    position absolute
    right 10px
    top calc(50% - 10px)
