header.header
    .header__sideLeft
        a.logo(href="/")
    if(buttonCreate)
        .header__sideRight
            a(href="/create.html")
                button.button.buttonCreate Создать встречу
