main.main
    .main__timeline
        .currentDate
            +button('circle', 'arrow-left')
            .currentDate__title 14 дек · Сегодня
                .calendar-wrapper
                    +calendar(3)
            +button('circle', 'arrow-right')
        .timeline
            - for (var i=8; i<=23; i++) {
              .timeline__hour= i === 8 ? i + ':00' : i
            - }
    .main__schedule
        .schedule__rooms
            - var data = [{floor:'6', rooms: [{name:'Ржавый Фрейд', capacity:'3-6 человек', events: [{right: 0 , left: 0}]}, {name:'Прачечная', capacity:'до 10 человек', events: [{right: 0 , left: 41.675}, {right: 80 , left:12}]},{name:'Желтый дом', capacity:'до 10 человек', events: [{right: 38.341 , left: 38.341}, {right: 13.336, left: 61.679}, {right: 0, left: 93.352 }]}, {name:'Оранжевый тюльпан', capacity:'до 10 человек', events: [{right: 0 , left: 0}]}]}, {floor:'7', rooms: [{name:'Джокер', capacity:'3-6 человек', events: [{right: 90 , left: 0},{right: 63.346 , left: 33.34}, {right: 40.6748 , left: 56.678}, {right: 33.34 , left: 61.679}, {right: 0 , left: 80.016}]}, {name:'Мариванна', capacity:'до 10 человек', events: [{right: 45.009 , left: 46.676}, {right: 34.6736 , left: 55.344}, {right: 25.005 , left: 73.348}]},{name:'Тонкий Боб', capacity:'до 10 человек', events: [{right: 70.014 , left: 6.668}, {right: 6.668, left: 33.34}, {right: 0, left: 93.352 }]}, {name:'Черная вдова', capacity:'3-6 человек', events: [{right: 13.336, left: 61.679}, {right: 0, left: 93.352 }]}, {name:'Белорусский ликер', capacity:'3-6 человек', events: [{right: 0, left: 0}]}]}, {floor:'8', rooms: [{name:'Ржавый Фрейд', capacity:'3-6 человек', events: [{right: 0 , left: 0}]}, {name:'Прачечная', capacity:'до 10 человек', events: [{right: 0 , left: 41.675}]},{name:'Желтый дом', capacity:'до 10 человек', events: [{right: 38.341 , left: 38.341}, {right: 13.336, left: 61.679}, {right: 0, left: 93.352 }]}, {name:'Оранжевый тюльпан', capacity:'до 10 человек', events: [{right: 0 , left: 0}]}]}, {floor:'9', rooms: [{name:'Джокер', capacity:'3-6 человек', events: [{right: 63.346 , left: 33.34}, {right: 40.6748 , left: 56.678}, {right: 33.34 , left: 61.679}, {right: 0 , left: 80.016}]}, {name:'Мариванна', capacity:'до 10 человек', events: [{right: 45.009 , left: 46.676}, {right: 34.6736 , left: 55.344}, {right: 25.005 , left: 73.348}]},{name:'Тонкий Боб', capacity:'до 10 человек', events: [{right: 70.014 , left: 6.668}, {right: 6.668, left: 33.34}, {right: 0, left: 93.352 }]}, {name:'Черная вдова', capacity:'3-6 человек', events: [{right: 13.336, left: 61.679}, {right: 0, left: 93.352 }]}, {name:'Белорусский ликер', capacity:'3-6 человек', events: [{right: 0, left: 0}]}]}]
            each floor in data
                .floor= floor.floor + ' этаж'
                each rooms in floor.rooms
                    .room
                        .room__data
                            .room__title=  rooms.name
                            span= rooms.capacity
                        .room__events
                            .room__tooltip= rooms.name
                            .event.event__wrap
                                .event.event__available
                                    .tool
                                        +icon('plus')
                                each event in rooms.events
                                    .event.event__busy(style={left: event.left +'%', right: event.right + '%'})
        include ./tooltip.pug
        .schedule__grid
            - for (var t=8; t<=23; t++) {
              .grid
                    .grid__line
            - }
            .currentTime
