.tooltip
    .tooltip__logo
        a(href="/edit.html")
            +button('circle', 'edit')
    .h2 Рассуждения о высоком
    span 14 декабря, 15:00-17:00, · Желтый дом
    .tooltip__members
        +user('Лев Толстой', '../../static/images/avatar/tolstoy.jpg')
        span.grey и 12 участников
