.schedule
    &__rooms
        height 100%
        width 100%
        padding 13px 0 113px 0
        box-sizing border-box
        overflow auto
    &__rooms::-webkit-scrollbar
        width 10px
    &__rooms::-webkit-scrollbar-thumb
        min-height 20px
        border 3px solid transparent
        border-radius 5px
        background-clip content-box
        box-shadow inset 0 0 0 4px rgba(0,0,0,.2)
    &__grid
        display flex
        justify-content space-between
        position absolute
        left 245px
        width calc(100% - 245px)
        height 100%
        pointer-events none
        z-index 2
