.event-page
    width 80%
    margin 0 auto
    flex 1 0 auto
    &__content
        display flex
        flex-direction column
        justify-content space-between
        max-width 872px
        margin 0 auto
        padding-top 22px
        box-sizing border-box
    &__title
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        margin-bottom 12px
    &__row
        display flex
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        margin-bottom 24px
    &__ceil
        flex 0 1 48%
        position relative
    &__date
        display flex
        flex-direction row
        justify-content space-between
    &__day
        flex 0 1 56%
        position relative
    &__timeInterval
        display flex
        flex-direction row
        justify-content space-between
        flex 0 1 40%
     &__time
        flex 0 1 72px
        min-width 60px
        position relative
    &__members
        margin-top 12px
.dash
    display flex
    align-items flex-end
    padding 13px 4px
    font-weight 700
.meeting-time
    font-weight 700
    padding-right 16px
