.event-page
    width 80%
    margin 0 auto
    flex 1 0 auto
    &__content
        display flex
        flex-direction column
        justify-content space-between
        max-width 872px
        margin 0 auto
        padding-top 22px
        box-sizing border-box
    &__title
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        margin-bottom 12px

