.user-avatar
    display inline-block
    vertical-align middle
    width 24px
    height 24px
    background-size cover
    background-position 50% 50%
    border-radius 100px
.user-name
    margin 0 4px 0 8px
.member
    display inline-flex
    align-items center
    position relative
    margin 0 4px 8px 0
    padding-right 35px
    border-radius 16px
    cursor pointer
    background-color #E9ECEF
