.timeline
    display flex
    justify-content space-between
    align-items center
    flex 1
    height 100%
    font-size 11px
    color #252525
    letter-spacing 0.4px
    font-weight 700
    box-sizing border-box
    box-shadow 0 -1px 0 0 #E9ECEF inset
    &__hour
        flex 1
        text-align center


