.tooltip
    display none
    position absolute
    top 100%
    width 338px
    height 113px
    padding 14px 16px 16px 19px
    border-radius 8px
    background lightColor
    box-sizing border-box
    box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28)
    z-index 8
    +responsive(xs)
        position fixed
        top 0
        left 0
        height 136px
        width 100%
    &__logo
        position absolute
        right 8px
        top 8px
    &__members
        margin-top 14px
.active
    display block


